.statistics-page {
  &__content {
    position: fixed;
    top: 56PX;
    left: 0;
    right: 0;
    bottom: 61PX;
    width: 100%;

  }
  .main-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: calc(74PX + 80rpx);
    bottom:60PX;
    width: 100%;
    .value-content {
      display: flex;
      flex-direction: column;
      padding: 0 30px;
      text {
        color: #666;
      }
      .total {
        font-size: 36px;
      }
    }
    .chart-wrapper {
      padding: 30px;
      box-sizing: border-box;
    }
    .ranking {
      flex: 1;
      border-top: 1px solid #eee;
    }
  }
}
