{
  "extends": ["taro"],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "no-unused-vars": ["error", {
      "varsIgnorePattern": "Taro"
    }],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx", ".tsx"]
    }],
    "jsx-quotes": ["error", "prefer-single"],
    "import/prefer-default-export": "off",
    //默认缩进两个空格
    "indent": ["warn", 2, {
      "SwitchCase": 1
    }],
    "react/no-set-state": 0
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  }
}
