.category-icon {
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50PX;
    height: 50PX;
    background-color: #f5f5f5;
    border-radius: 50%  ;
  }
  &__text {
    margin-top: 10px;
    color: #333;
  }

}
