.home-detail{
  position: absolute;
  top: 74PX;
  bottom: 60PX;
  .detail-item{
    margin-bottom: 20px;

    &__title{
      border-bottom: 1px solid #f3f3f3;
    }
    .bill-item {
      height: 50px;
    }
  }
}
