@import '../../styles/global';
$border-radius: 10px;
.comp-tab {
  display: inline-flex;
  background-color: $blue;
  text {
    color: #fff
  }
  &__item {
    line-height: 60px;
    padding: 0 20px;
    border: 1px solid #fff;
    border-left: none;
    min-width: 70px;
    text-align: center;
    &.first {
      border: 1px solid #fff;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
    &.last {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    &.active {
      background-color: #fff;
      text{
        color: $blue;
      }
    }
  }
}
