@import '../../../styles/global';

.home-banner {
  background-color: $blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  .home-title {
    font-size: 18pt
  }
  text {
    color: #fff;
  }
}
