.white-text{
  color: #fff;
}
.banner-title,
.banner-asset {
  color: #fff;
}
.sider {
  width: 50%;
  &.left{
    border-right: 1px solid #fff;
  }
}

.account-list {
  width: 100%;
  position: fixed;
  top: 120PX;
}
